<nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
  <div class="breadcrumbs__list">
    <div class="breadcrumbs__item">
      {%- render 'icon' with 'chevron-left' -%}
      <a class="breadcrumbs__link" href="{{ blog.url }}" aria-current="page">Blogs</a>
    </div>
  </div>
</nav>